@import "tailwindcss";
@import "tw-animate";

:root {
    --radius: 0.625rem;

    --background: #ffffff;
    --foreground: #1a1a1a;

    --primary: #0257a5;
    --primary-foreground: #ffffff;

    --secondary: #0070bb;
    --secondary-foreground: #ffffff;

    --accent: #91f5ad;
    --accent-foreground: #1a1a1a;

    --brand-1: #6dd4b1;
    --brand-2: #49b3b4;
    --brand-3: #2592b8;

    --card-foreground: #e5e7eb;
    --card: #ffffff;
    --border: #0257a5;
    --ring: #0070bb;
    --input: #6dd4b1;
}

.dark {
    --background: #1a1a1a;
    --foreground: #ffffff;

    --primary: #0257a5;
    --primary-foreground: #ffffff;

    --secondary: #0070bb;
    --secondary-foreground: #ffffff;

    --accent: #91f5ad;
    --accent-foreground: #1a1a1a;

    --brand-1: #6dd4b1;
    --brand-2: #49b3b4;
    --brand-3: #2592b8;

    --card: #1a1a1a;
    --card-foreground: #1a1000;
    --border: #0070bb;
    --ring: #0257a5;
    --input: #49b3b4;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-brand-1: var(--brand-1);
    --color-brand-2: var(--brand-2);
    --color-brand-3: var(--brand-3);

    --color-border: var(--border);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
}
