@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@import "tw-animate-css";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-any: var(--text-color);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-accent: var(--destructive-accent);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --radius: 0.625rem;

    /* Light mode */
    --background: #f5f5f5;
    --foreground: #1f1f1f;
    --card: #ffffff;
    --card-foreground: #1f1f1f;
    --popover: #ffffff;
    --popover-foreground: #1f1f1f;

    --primary: #0070bb;
    --primary-foreground: #ffffff;
    --secondary: #e5e7eb; /* světle šedá */
    --secondary-foreground: #111827;
    --muted: #f3f4f6;
    --muted-foreground: #6b7280;
    --accent: #6366f1; /* fialová */
    --accent-foreground: #ffffff;
    --destructive: #bc2626; /* červená */
    --destructive-accent: #fc3636;
    --border: #d1d5db;
    --input: #ffffff;
    --ring: #2563eb;

    --sidebar: #ffffff;
    --sidebar-foreground: #1f1f1f;
    --sidebar-primary: #2563eb;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #6366f1;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #e5e7eb;
    --sidebar-ring: #2563eb;

    --chart-1: #3b82f6;
    --chart-2: #10b981;
    --chart-3: #f59e0b;
    --chart-4: #ef4444;
    --chart-5: #8b5cf6;
}

.dark {
    /* Dark mode */
    --background: #1f1f1f;
    --foreground: #f5f5f5;
    --card: #2c2c2c;
    --card-foreground: #f5f5f5;
    --popover: #2c2c2c;
    --popover-foreground: #f5f5f5;

    --primary: #0070bb;
    --primary-foreground: #ffffff;
    --secondary: #374151;
    --secondary-foreground: #e5e7eb;
    --muted: #4b5563;
    --muted-foreground: #d1d5db;
    --accent: #818cf8;
    --accent-foreground: #ffffff;
    --destructive: #f87171;
    --destructive-accent: #a98181;
    --border: #4b5563;
    --input: #374151;
    --ring: #3b82f6;

    --sidebar: #2c2c2c;
    --sidebar-foreground: #f5f5f5;
    --sidebar-primary: #2c2c2c;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #818cf8;
    --sidebar-accent-foreground: #2c2c2c;
    --sidebar-border: #4b5563;
    --sidebar-ring: #3b82f6;

    --chart-1: #3b82f6;
    --chart-2: #10b981;
    --chart-3: #f59e0b;
    --chart-4: #ef4444;
    --chart-5: #8b5cf6;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        font-family: var(--font-sans);
    }
}
