@import "tailwindcss";
@import "tw-animate";

:root {
  --radius: 0.625rem;


  --background: #FFFFFF;
  --foreground: #1A1A1A;


  --primary: #0257A5;
  --primary-foreground: #FFFFFF;


  --secondary: #0070BB;
  --secondary-foreground: #FFFFFF;


  --accent: #91F5AD;
  --accent-foreground: #1A1A1A;


  --brand-1: #6DD4B1;
  --brand-2: #49B3B4;
  --brand-3: #2592B8;


  --border: #0257A5;
  --ring: #0070BB;
  --input: #6DD4B1;
}


.dark {
  --background: #1A1A1A;
  --foreground: #FFFFFF;

  --primary: #0257A5;
  --primary-foreground: #FFFFFF;

  --secondary: #0070BB;
  --secondary-foreground: #FFFFFF;

  --accent: #91F5AD;
  --accent-foreground: #1A1A1A;

  --brand-1: #6DD4B1;
  --brand-2: #49B3B4;
  --brand-3: #2592B8;

  --border: #0070BB;
  --ring: #0257A5;
  --input: #49B3B4;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-brand-1: var(--brand-1);
  --color-brand-2: var(--brand-2);
  --color-brand-3: var(--brand-3);

  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-input: var(--input);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply text-accent-foreground;
  }
  body {
    @apply bg-background text-foreground;
  }
}
